/* Colors */
$white: #f4f4f4;
$dgrey: #707070;
$black: #272727;
$grey: #9c9c9c;
$red: #ba3638;
$ltgrey: #e6e6e6;

body {
	font-size: 62.5%;
	font-family: 'Montserrat', sans-serif;
	background-color: $black;
}

.link-r7 {
	position: relative;
	color: $white;
	margin: 15px;

	a {
		color: $white;
		font-weight: bold;
		text-decoration: none;
	}
}

.ranking-container {
	position: relative;
	// background-color:#2a1d9e;
	margin: 0 auto;
	width:342px;
	max-width:342px;
	// height: 500px;
	// min-width:240px;
}

.ranking-header {
	// position: relative;
	height: 52px;
	margin-top: 140px;
	margin-left: 60px;
	background-color:$white;

	h1 {
		margin-left: 120px;
		margin-top: -50px;
		font-size: 1.8rem;
		font-weight: 700;
		letter-spacing: -0.2rem;
	}
}

.logo {
	margin-top: -128px;
	margin-left: -90px;
}

.ranking-list {
	margin-top: 20px;

	&-item {
		padding-top: 1px;
		padding-bottom: 1px;
		
		&:nth-child(odd) {
			background-color: $white;
		}

		&:nth-child(even) {
			background-color: $ltgrey;
		}
	}
}

.item-profile-container {
	margin: 10px 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    
}

.selected-border {
	border: 5px $white solid;
}

.unselected-border {
	border: 5px $red solid;
}

.item-profile-img {
	display: inline-block;
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.item-profile-idx {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	text-align: center;
	line-height: 22px;
	margin-top: 55px;
	margin-left: -15px;
	border: 1px $dgrey solid;
	font-weight: 600;
	color: $dgrey;
	font-size: 1.5em;
	background-color:$white;
}

.item-text {
    position: absolute;
    display: table-column-group;
    width: 70%;
    height: 90px;
    left: 103px;
	margin-top: -95px;
	
	&-name {
		position: absolute;
		font-weight: 700;
		margin-top: 30px;
		margin-left: 15px;
		font-size: 1.6em;
		text-align: left;
		color: $red;
	}

	&-description {
		position: absolute;
		margin-top: 50px;
		margin-left: 15px;
		font-weight: 600;
		text-align: left;
		color: $dgrey;
	}
}